.account {
   -webkit-border-radius: 10px 10px 10px 10px;
   border-radius: 10px 10px 10px 10px;
   -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
   box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
   max-width: 550px;
   background: #fff;
   margin-top: 5%;
   margin-left: 20%;
   padding: 40px;
}

.account label {
   font-family: "STIX Two Math", serif;
   font-size: 20px;
}

.account input[type=text], input[type=password], input[type=email] {
   display: flex;
   max-width: 100%;
}

.account button {
   display: flex;
   margin: 20px;
}

.account input[type=submit], input[type=reset] {
   display: inline-flex;
   margin-top: 50px;
   text-transform: none;
   padding: 5px 20px;
   font-size: 15px;
}